<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meatball Mushroom</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/pizzas.css">
    <style>
        .first-half {
            background-image: url(/images/pizza/meatballmushroom.webp);
        }
    </style>
</head>
<body>
    <nav>
        <h1 href="/">TasteThreads</h1>
        <div class="nav-buttons">
            <a href="/dashboard">Menu Selection</a>
            <a href="/menu1">Return to menu</a>
            <a href="/logout">Logout</a>
        </div>  
    </nav>
    <main>
        <div class="first-half">
            <div class="title-container">
                <h1 class="dish-title">Meatball Mushroom</h1>
                <h3>AVG RATING: <%= (posts.reduce((acc,cv) => cv.rating + acc, 0) / posts.length).toFixed(1) %> </h3>
            </div>
        </div>
        <div class="second-half">
            <h2>Reviews</h2>
            <div class="review-container">
                <ul>
                        <% for(var i = posts.length - 1; i >= 0; i--) {%>
                            <li>
                                <p><span style="color: red">User:</span> <%= posts[i].user || "Anonymous" %></p>
                                <p><span style="color: red">Rating:</span> <%= posts[i].rating %></p>
                                <p><span style="color: red">Date:</span> <%= posts[i].date.toDateString() %></p>
                                <p><span style="color: red">Review:</span> <br> <%= posts[i].text %></p>
                            </li>
                        <% } %>
                </ul>
            </div>
            <h3>Have a suggestion? Leave your review!</h3>
            <a href="/addReview">Add your review</a>
        </div>
    </main>
    <footer></footer>

</body>
</html>